.btn{
    background:  #f8f8fa;;
    border: 1px solid silver;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
}
.dropOnClick{
    position: absolute;
    width: 250px;
    background-color: #f8f8fa;
    border-radius: 10px;
    margin-top: 10px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px 10px;
    gap: 10px;
}
.selectGroup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}
.displayButton{
    position: relative;
}